# This configuration file is an actual Python file. Only variables in uppercase
# are recognized as config keys.

KEYBOARD_PATH = '{{ bassline_keyboard_interface }}'
MOUSE_PATH = '{{ bassline_mouse_interface }}'
